# logs
app/logs/*.log
# Secrets
app/secrets/.env
app/secrets/*.json
# assets
app/assets/*.ipynb
app/assets/*.txt
# app/assets/*.json
assets/*.excalidraw
# Terraform
terraform/terraform-manifest/terraform.tfvars
terraform/terraform-manifest/*.tfstate
terraform/terraform-manifest/*.tfstate.backup
